.add-questions {
    margin: 4rem;
    color: #555;
}

.add-question--container h4 {
    text-align: left;
    color: #999;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.add-question--form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.option-input,
.add-question--form select,
.add-question--form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #f0fcf2;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.option-input--container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.option-checkbox {
    width: 2.4rem;
    height: 2.4rem;
    accent-color: #b2f2bb;
}


.add-question--form input::placeholder {
    color: #aaa;
}

.add-question--container *:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(173, 247, 177, 0.959);
}

.question-input {
    grid-column: 1 / -1;
}

.answer {
    grid-column: 1 / -1; 
}

.add-question--form textarea {
    grid-column: 1 / -1;
    height: 7.7rem;
}

.add-question--form h6 {
    grid-column: 1 / -1;
    color: #aaa;
    font-size: 1.6rem;
    text-align: left;
}

.add-question-btn {
    width: 50%;
    background-color: #b2f2bb;
    color: #555;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.add-question-btn:hover {
    background-color: #8ce99a;
    color: #555;
}
