.question-category {
    margin: 4rem;
}

.question-category h4 {
    text-align: left;
    color: #999;
    font-size: 2rem;
    margin-bottom: 3.6rem;
}

.addCatergory-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.question-category--input {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #f0fcf2;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.question-category--btn {
    width: 40%;
    background-color: #b2f2bb;
    color: #555;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.question-category--btn:hover {
    background-color: #8ce99a;
    color: #555;
}

.addCatergory-form input::placeholder {
    color: #aaa;
}

.addCatergory-form *:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(173, 247, 177, 0.959);
}

.question-category--container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 9.6rem;
}

table {
    width: 100%;
    font-size: 1.8rem;
    border-collapse: collapse;
    color: #aaa;
}

th,
td {
    padding: 1.6rem 2.4rem;
    text-align: left;
}

thead tr {
    background-color: #b2f2bb;
    color: #555;
}

thead th {
    width: 75%;
}

tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
    background-color: #e9ecef;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

td button {
    border: none;
    cursor: pointer;
    background: none;
}

.action-icon {
    width: 20px;
    height: 20px;
}

.edit {
    color: #555;
}

.trash {
    color: red;
}

/* MODAL */

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 200ms ease-in-out;
    background-Color: rgba(255, 255, 255, 0.75);
}


.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    position: absolute;
    top: 25%;
    left: 30%;
    right: 30%;
    bottom: 46%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 2rem;
}

.modal-header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.modal-header h2 {
    color: #555;
}

.modal-header span {
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.msg {
    font-size: 2rem;
}

.modal-input {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 9px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.8rem;
}

.modal-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-update-btn {
    background: none;
    padding: 1.6rem 3.2rem;
    color: #555;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #b2f2bb;
}

.modal-cancel-btn {
    background: none;
    padding: 1.6rem 3.2rem;
    color: #fff;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    background-color: red;
}

.modal *:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(173, 247, 177, 0.959);
}