* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1;
    /* font-weight: 400; */
}

input *:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(173, 247, 177, 0.959);
}

ion-icon {
    pointer-events: none;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    color: #40c057;
}

.go-back-btn {
    color: #555;
    background: none;
    border: none;
    cursor: pointer;
}

.go-back-btn:hover {
    color: #40c057;
}
