.layout {
    height: 100vh;
    text-align: center;
    font-size: 24px;

    display: grid;
    grid-template-columns: 25rem 1fr;
    grid-template-rows: 9rem 1fr;
}

.header-container {
    grid-column: 1 / -1;
    border-bottom: 1px solid #eee;
}

.nav-container {
    border-right: 1px solid #eee;
}

.menu-container {
    grid-column: 2 / -1;
    background-color: #fff;
}

.footer-container {
    grid-column: 1 / -1;
    border-top: 1px solid #eee;
}